<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.Js v-model</title>
</head>
<body>
    <div id="app">
        <p v-bind:style=" { fontSize: textSize + 'px', color: textColor } ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae vero accusamus dicta dolorem ipsum nihil nam delectus eaque, aperiam corporis minima, voluptas facilis distinctio accusantium magni nulla rem, dolorum et?</p>
        <input type="text" placeholder="bota um número" v-model="textSize">
        <input type="text" placeholder="Digita uma cor" v-model="textColor">
    </div>

    <script src="vue.js"></script>
    <script>
        let myApp = new Vue({
            el: '#app',
            data: {
               textSize: 10,
               textColor: "black"
            }
        })
    </script>
</body>
</html>